@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, cupcake;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@utility btn {
  @apply rounded-full;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* .slot-background{
  background: radial-gradient(1200px 600px at 50% -20%, #493b443c 0%, #7ffa640d 55%, #ffffff5c 100%);
} */